<h1>{{title}}</h1>

<h2>Enter your name and email to go in the draw</h2>
<form id="entry_form">
  <label>
    Name:
    <input type="text" name="name">
  </label>
  <label>
    Email:
    <input type="email" name="email">
  </label>

  <button type="submit">Enter</button>
</form>

<ol id="entry_list"></ol>

<button id="draw">Draw!!</button>

<h2 id="winner"></h2>