<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/reload/reload.js"></script>
    <script src="/javascripts/entries.js"></script>
  </head>
  <body>
    {{{body}}}

    <script src="https://www.gstatic.com/firebasejs/5.4.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.4.0/firebase-firestore.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBgGnfSzz1Qxd4cL-0GMHqhlZfy7srewRk",
        projectId: "who-dares-wins-72754",
      };
      firebase.initializeApp(config);
    </script>
  </body>
</html>
